.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .topNav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    margin-bottom: 4rem;
  }
  .main-page {
    margin-bottom: 5rem;
  }
  .title{
    margin-right: 3rem;
    margin-left: 3rem;
     font-size: 1.5rem;
     letter-spacing: 2px;
   }