.position{
  text-align: center !important;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 0.5rem
}
.col-sm-10 {
  margin: 0 auto;
}